<h1><%= file.name %></h1>

<div>
    File size: <%=file.size %>
</div>

<div>
    File Uploaded: <%=file.createdAt %>
</div>

<div>
    <button type="button" onclick="openModal('deleteFileModal')">Delete File</button>
    <a href="<%= file.path %>" download="<%= file.path %>">Download</a>
</div>

<!-- Modal Partial -->
<%- include('partials/modal', { 
    modal: {
        id: 'deleteFileModal', 
        header: 'Confirm Action', 
        body: 'Are you sure you want to delete the file?', 
        action: '/file/delete/' + file.id, 
        actionId: file.id, 
        actionButton: 'Confirm Delete' 
    } 
}) %>