<h1 class="fc-3 fs-2"><%= file.name %></h1>

<div class="mt-2">
    File size: <%=file.size %>
</div>

<div class="mt-2">
    File Uploaded: <%= file.createdAt.toLocaleDateString() %> <%= file.createdAt.toLocaleTimeString() %>
</div>

<div class="mt-2">
    <button type="button" class="btn btn-danger" onclick="openModal('deleteFileModal')">Delete File</button>
    <a href="<%= file.path %>" download="<%= file.path %>" class="btn link-none">Download</a>
</div>

<!-- Modal Partial -->
<%- include('partials/modal', { 
    modal: {
        id: 'deleteFileModal', 
        header: 'Confirm Action', 
        body: 'Are you sure you want to delete the file?', 
        action: '/file/delete/' + file.id, 
        actionId: file.id, 
        actionButton: 'Confirm Delete' 
    } 
}) %>